@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

.app {
  font-family: 'Roboto', sans-serif;
}

.input-group.input-group-unstyled input.form-control {
  border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
  font-size: 1.3em;
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
}
.brand-text-color {
  color: #2196F3;
}
.btn-primary {
  background-color: #2196F3;
  border-color: transparent;
}
.centered-text {
  text-align: center;
}

.centered-container {
  width: 100%;
  position: absolute;
  padding: 0 30px;
}
.background-image {
  min-height: auto;
  background-size: cover;
  background-position: center;
  color: #fff;
  background-image: url(http://www.studentenraad.ehb.be/img/home/parallax/contact-us2-background.jpg);
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
.navbar-header {
  display: inline-block;
}
.navbar-brand {
  line-height: inherit;
}
.top-buffer { margin-top:20px; }

.modal-dialog {
}

.modal-backdrop {
   background-color: #fff;
}
